/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-font-family: "Gill Sans MT", sans-serif;
}

#card{
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
}

#card:hover {
    -fx-background-color: #f0f0f0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#lblPrecio{
    -fx-text-fill: black;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

#vehiculosPane {
    -fx-hgap: 10;  /* Espacio horizontal entre elementos */
    -fx-vgap: 10;  /* Espacio vertical entre elementos */
    -fx-padding: 15;
    -fx-alignment: center;
}


.menu-bar .menu {
    -fx-padding: 0 5px 0 5px;
    -fx-pref-width: -1;
}
.menu-bar .menu .label {
    -fx-padding: 0 5px 0 5px;
}


#busqueda:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0); /* Efecto de sombra hacia adentro al hacer clic */
}

#lblBarra{
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

#lblBarra:hover {
    -fx-text-fill: blue;
    -fx-underline: true;
}

.menu-bar {
    -fx-background-color: transparent;
    -fx-text-fill: white; /* Color de texto blanco */
}

/* Estilo base para los Menu */
.menu {
    -fx-font-size: 16px;
    -fx-underline: false;
}

.menu .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-underline: false;
}

.menu-item {
    -fx-text-fill: black; /* Color de texto negro */
    -fx-font-size: 14px;
    -fx-underline: false;
}

.menu-item .label{
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-underline: false;
}

.menu-item:focused, .menu-item:armed {
    -fx-text-fill: black;
}


#boton{
    -fx-background-color: #030759;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 100%;
    -fx-max-width: Infinity;
    -fx-font-size: 20px;
}